<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pest Control</title>
</head>
<body>

<div th:fragment="toxic-common">
    <div class="form-floating mb-3">
        <input th:field="*{name}"
               th:value="${name}"
               type="text"
               class="form-control"
               id="name"
               placeholder="">
        <label for="name">Name of toxic:</label>
    </div>

    <div class="form-floating mb-3">
        <select th:field="*{toxicDirection}"
                id="stream-type" class="form-select"
                aria-label="Default select"
                aria-describedby="directionHelpBlock">
            <option th:each="wt : ${T(eu.rekawek.toxiproxy.model.ToxicDirection).values()}"
                    th:value="${wt}" th:text="${wt}"></option>
        </select>
        <label for="stream-type">Stream direction:</label>
        <div id="directionHelpBlock" class="form-text">
            The stream direction is either upstream or downstream. Upstream applies the toxic
            on the client to server connection, while downstream applies the toxic on the
            server to client connection. This can be used to modify requests and responses separately.
        </div>
    </div>

    <div class="mb-3">
        <label for="toxicity" class="form-label">Toxicity factor (0-100%):</label>
        <input th:field="*{toxicity}"
               type="range" class="form-range" min="0" max="100" step="1" id="toxicity"
               aria-describedby="toxicityHelpBlock">
        <div id="toxicityHelpBlock" class="form-text">
            Specifies the percentage of connections a toxic will affect. This is most useful for
            toxics with a timeout, which would allow X % of connections to timeout.
        </div>
    </div>
</div>

</body>
</html>
