####################################
# CockroachDB Local Cluster Settings
####################################

## Cluster security mode
# insecure
# secure
security_mode="insecure"

## Enable shell ansi colors
ansi="on"

## Cockroach version to download with install command
# See: https://www.cockroachlabs.com/docs/releases/?filters=mac

#version_darwin="v25.1.3.darwin-10.9-amd64"
version_darwin="v25.1.3.darwin-11.0-arm64"

version_linux="v25.1.3.linux-amd64"
#version_linux="v25.1.3.linux-arm64"

## Advertised host name
host=localhost

## Base port for RPC traffic (each node increments by 1)
rpcportbase=25258

## Base port number for data traffic (leaving 26257 for LB)
# NOTE: If you change this you need to also need to edit haproxy.cfg
sqlportbase=26258

## Base port number for HTTP traffic (leaving 8080 for LB)
# NOTE: If you change this you need to also need to edit haproxy.cfg
httpportbase=8081

#################################################################
# Toxiproxy configuration (optional)
#################################################################

# Change to 'on' to enable toxiproxy mode
toxiproxy="off"

## Base port to advertise for RPC traffic when using toxiproxy
# Ensure its not overlapping with rpcportbase.
toxiproxy_advertiseportbase=35258

# Toxiproxy server host
toxiproxy_host=localhost

# Toxiproxy server port
toxiproxy_port=8474

#################################################################
# Each item in selected zone array below counts as one node.
# Locality flags can be anything, syntax:
# https://www.cockroachlabs.com/docs/v24.2/cockroach-start.html#locality
#################################################################

# Up to 18 nodes in 6 regions and 2 potential super regions.
locality_zone=(
  'region=eu-north-1,zone=eu-north-1a'
  'region=eu-north-1,zone=eu-north-1b'
  'region=eu-north-1,zone=eu-north-1c'
  'region=eu-central-1,zone=eu-central-1a'
  'region=eu-central-1,zone=eu-central-1b'
  'region=eu-central-1,zone=eu-central-1c'
  'region=eu-west-1,zone=eu-west-1a'
  'region=eu-west-1,zone=eu-west-1b'
  'region=eu-west-1,zone=eu-west-1c'
  'region=us-east-1,zone=us-east-1a'
  'region=us-east-1,zone=us-east-1b'
  'region=us-east-1,zone=us-east-1c'
  'region=us-east-2,zone=us-east-2a'
  'region=us-east-2,zone=us-east-2b'
  'region=us-east-2,zone=us-east-2c'
  'region=us-west-1,zone=us-west-1a'
  'region=us-west-1,zone=us-west-1b'
  'region=us-west-1,zone=us-west-1c'
)

__locality_zone=(
  'region=us-east-1,zone=us-east-1a'
  'region=us-east-1,zone=us-east-1c'
  'region=us-east-1,zone=us-east-1d'
  'region=us-west-2,zone=us-west-2a'
  'region=us-west-2,zone=us-west-2b'
  'region=us-west-2,zone=us-west-2c'
  'region=us-east-2,zone=us-east-2a'
  'region=us-east-2,zone=us-east-2b'
  'region=us-east-2,zone=us-east-2c'
);

___locality_zone=(
  'region=one,zone=one-a'
  'region=one,zone=one-b'
  'region=one,zone=one-c'
  'region=two,zone=two-a'
  'region=two,zone=two-b'
  'region=two,zone=two-c'
  'region=three,zone=three-a'
  'region=three,zone=three-b'
  'region=three,zone=three-c'
)
