################################################
# CockroachDB Local Insecure Cluster
################################################

#### Cluster Settings ####

## Admin endpoint URL
admin_url="http://localhost:8080"

## Load balancer status URL
haproxy_url="http://localhost:7070"

## Service frontend URL (match port in application.yml)
app_service_url="http://localhost:9090"

## Service startup params
app_params="--profiles default"

#### Connection settings ####

## Database host and port (pick closest region)
db_host="localhost:26257"

## User name with ADMIN privilege
db_username="craig"

## User secret
db_password=

## Connection URL
db_url="postgresql://${db_host}?sslmode=disable"

