<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Pest Control</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="~{fragments/theme :: theme}"></div>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <svg th:replace="~{fragments/symbols :: symbols}"></svg>
    <div th:replace="~{fragments/toast :: toast}"></div>

    <div class="py-5 bg-body-tertiary">
        <div class="container">
            <div class="alert alert-warning" role="alert"
                 th:unless="${helper.isAvailable()}">
                <h4 class="alert-heading">Cluster is Unresponsive</h4>
                <p>Unable to retrieve cluster node status. This can be for several reasons:</p>
                <ul>
                    <li>There are not enough available nodes in the cluster, check the
                        <a target="_blank" th:href="${helper.clusterModel.getRequiredLink('admin')}">DB Console</a>.</li>
                    <li>You are using a local cluster and have not started any nodes. Run <code>./cluster-admin start-all</code>.</li>
                    <li>You are using a local cluster and have not started the load balancer. Run <code>./cluster-admin start-lb</code>.</li>
                </ul>
                <p>This page will automatically refresh.</p>
            </div>

            <div th:each="locality: ${helper.clusterModel.getLocalities(level)}">
                <h4 th:text="${locality.toTiers()}"></h4>

                <div role="group" th:if="${locality.hasLink('disrupt') or locality.hasLink('recover')}">
                    <form th:action="@{/cluster}" method="post">
                        <input type="hidden" name="locality" th:value="${locality.toTiers()}"/>
                        <button class="btn btn-sm btn-outline-danger" type="submit"
                               name="action" value="disrupt-locality"
                                th:if="${locality.hasLink('disrupt')}">Disrupt</button>
                        <button class="btn btn-sm btn-outline-info" type="submit"
                               name="action" value="recover-locality"
                                th:if="${locality.hasLink('recover')}">Recover</button>
                    </form>
                </div>

                <hr/>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div th:each="node: ${helper.clusterModel.getNodes(locality.tiers)}">
                        <form th:action="@{/cluster}" method="post">
                            <input type="hidden" name="node-id" th:value="${node.getId()}"/>

                            <div class="col">
                                <div th:id="${'node-' + node.getId()}" class="card shadow-sm alert"
                                     th:classappend="${helper.getCardClass(node.getNodeStatus())}">
                                    <svg class="bd-placeholder-img card-img-top"
                                         width=128 height=128 fill="currentColor"
                                         viewBox="0 0 16 16">
                                        <use th:href="${helper.getCardImage(node.getNodeStatus())}"></use>
                                    </svg>

                                    <div class="card-body">
                                        <h5>
                                        <a role="button" class="link-offset-3 link-underline link-underline-opacity-50"
                                               th:href="${node.getRequiredLink('self').href}" th:text="${'Node ' + node.getId()}"></a>
                                        </h5>
                                        <h5 class="card-subtitle mb-3"
                                            th:text="${node.getLocality()}"></h5>
                                        <h6 class="card-subtitle mb-3"
                                            th:text="${node.getNodeDetail().getSqlAddress().getAddressField()}"></h6>
                                        <h6 class="card-subtitle mb-3"
                                            th:text="${node.getNodeDetail().getBuildTag()}"></h6>
                                        <h6 class="card-subtitle mb-3 pc-ranges"
                                            th:text="${node.getNodeStatus().getRangeDetails()}"></h6>
                                    </div>

                                    <div class="card-footer">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div role="group">
                                                <a role="button" class="btn btn-sm btn-outline-success"
                                                   th:if="${node.hasLink('toxic')}"
                                                   th:href="${node.getRequiredLink('toxic').href}">Toxics</a>
                                                <button class="btn btn-sm btn-outline-danger" type="submit"
                                                        name="action" value="disrupt-node">Disrupt</button>
                                                <button class="btn btn-sm btn-outline-info" type="submit"
                                                        name="action" value="recover-node">Recover</button>
                                            </div>
                                            <div class="pc-spinner" style="display: none">
                                                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                                            </div>
                                            <small class="pc-last-active"
                                                   th:text="${node.getNodeStatus().getLastActive()}"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- container -->
    </div> <!-- main -->
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>

<script th:src="@{/js/color-modes.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

</body>
</html>
