<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Pest Control</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="~{fragments/theme :: theme}"></div>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <svg th:replace="~{fragments/symbols :: symbols}"></svg>

    <div class="thick-divider"></div>

    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold text-body-emphasis">Welcome to Pest Control</h1>
        <div class="col-lg-6 mx-auto">
            <div sec:authorize="!isAuthenticated()">
                <p class="lead mb-4">
                    Using this tool you can observe the status of a CockroachDB
                    cluster and cause chaos by killing individual nodes,
                    zones or entire regions and then recover. For local clusters, you can
                    also use Toxiproxy to create simulated network issues.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <a class="btn btn-lg btn-primary" th:href="@{/login}">[[#{navigation.login}]]</a>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div class="alert alert-info align-items-center fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:" width="1em" height="1em">
                        <use xlink:href="#info-fill"/>
                    </svg>

                    Signed in as
                    <span class="badge text-bg-info" th:text="${#authentication.name}"></span>

                    to <a type="btn" target="_blank" id="clusterId"
                          class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-75"
                          th:href="${clusterProperties.adminUrl}"
                          th:text="${clusterProperties.clusterId}"></a>
                    of type <span class="badge text-bg-info" th:text="${clusterProperties.getClusterType()}"> </span>

                    <hr>
                    <code th:text="${clusterVersion}"></code>
                </div>

                <div class="mb-5">
                    <a class="btn btn-primary" target="_blank"
                       th:href="${clusterProperties.adminUrl}">DB Console</a>
                </div>
            </div>
        </div>
    </div>

    <div class="thick-divider"></div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>

<script th:src="@{/js/color-modes.js}"></script>
<!--<script th:src="@{/js/main.js}"></script>-->
<!--<script th:src="@{/js/dashboard.js}"></script>-->

</body>
</html>
