<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Pest Control</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="~{fragments/theme :: theme}"></div>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <svg th:replace="~{fragments/symbols :: symbols}"></svg>

    <div class="py-2 rounded bg-body-tertiary">
        <div class="container-xl">
            <div class="alert alert-info align-items-center alert-dismissible fade show" role="alert"
                 th:if="${#lists.size(#fields.errors('form.*')) == 0}">
                <h4 class="alert-heading">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:" width="1em" height="1em">
                        <use xlink:href="#info-fill"/>
                    </svg>
                    Toxiproxy Dashboard
                </h4>
                <p>Current proxies that intercepts the RPC traffic between local cluster nodes.
                    Each node should have one proxy that listens to the <code>advertise-host</code>
                    address of that node and binds the upstream to the <code>listen-addr</code>.
                    A proxy can then have zero to many upstream or downstream <i>toxics</i> to
                    simulate network disruptions between CockroachDB nodes, including delays,
                    drops, congestion and so on.</p>
                <hr>
                <p class="mb-0">Notice that you need to restart the CockroachDB cluster if you add or delete
                    proxies.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-warning align-items-center alert-dismissible fade show" role="alert"
                 th:if="${#lists.size(#fields.errors('form.*')) > 0}">
                <h4 class="alert-heading">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:" width="1em" height="1em">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    Error adding proxy
                </h4>
                <p>Please correct the following errors:</p>
                <hr>
                <ul>
                    <li th:each="err : ${#fields.errors('form.*')}" th:text="${err}"/>
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>


            <div class="table-responsive-xl">
                <div class="table-responsive-xl">
                    <div class="hstack gap-2">
                        <button type="button" class="btn btn-sm btn-outline-primary"
                                data-bs-toggle="modal" data-bs-target="#addModalProxy">Add Proxy
                        </button>
                    </div>
                </div>

                <p th:if="${#lists.size(proxies.getContent()) == 0}" class="badge text-bg-info mt-3">No proxies found, use the button above to add.</p>

                <table class="table table-striped table-bordered table-hover table-sm caption-top"
                       th:if="${#lists.size(proxies.getContent()) > 0}">
                    <caption>Toxi Proxies</caption>
                    <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Listen</th>
                        <th>Upstream</th>
                        <th>Enabled</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="proxy, iStat : ${proxies}" th:id="${'row-' + proxy.name}">
                        <td scope="row" th:if="${proxy.hasLink('self')}">
                            <a th:href="${proxy.getRequiredLink('self').href}" th:text="${proxy.name}"></a>
                        </td>
                        <td scope="row" th:unless="${proxy.hasLink('self')}" th:text="${proxy.name}"></td>
                        <td th:text="${proxy.listen}"></td>
                        <td th:text="${proxy.upstream}"></td>
                        <td th:text="${proxy.enabled}"></td>
                        <td class="text-center py-1">
                            <a class="btn btn-outline-success"
                               th:href="@{/proxy/{name}/toxic(name=${proxy.name})}">
                                Toxics <span class="badge text-bg-warning"
                                             th:text="${proxy.toxics}">0</span>
                            </a>
                            <a th:href="${proxy.getRequiredLink('enable-redirect').href}"
                               th:if="${proxy.hasLink('enable-redirect')}"
                               class="btn btn-xs btn-space btn-outline-primary">Enable</a>
                            <a th:href="${proxy.getRequiredLink('disable-redirect').href}"
                               th:if="${proxy.hasLink('disable-redirect')}"
                               class="btn btn-xs btn-space btn-outline-warning">Disable</a>
                            <a th:href="${proxy.getRequiredLink('delete-redirect').href}"
                               th:if="${proxy.hasLink('delete-redirect')}"
                               class="btn btn-xs btn-space btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- Modals -->
<div class="modal fade" id="addModalProxy" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/proxy}" th:object="${form}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Proxy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input th:field="*{name}"
                               th:value="${name}"
                               type="text" class="form-control"
                               id="name" placeholder="some name">
                    </div>
                    <div class="mb-3">
                        <label for="listen" class="form-label">Listen address:</label>
                        <input th:field="*{listen}"
                               th:value="${listen}"
                               type="text" class="form-control"
                               id="listen"
                               placeholder="localhost:35258"
                               aria-describedby="listenHelpBlock">
                        <div id="listenHelpBlock" class="form-text">
                            If listen is specified with a port of 0, toxiproxy will pick an ephemeral port. The listen field in the response will be updated with the actual port.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="upstream" class="form-label">Upstream address:</label>
                        <input th:field="*{upstream}"
                               th:value="${upstream}"
                               type="text" class="form-control"
                               id="upstream"
                               placeholder="localhost:25258">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this proxy?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="" class="btn btn-sm btn-danger" id="delRef">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.21.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<!-- Not in webjars -->
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script th:src="@{/js/color-modes.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>

